
.definition > p:first-child:before
{
    content:"Definition. hahaha ";
    display: inline;
    font-weight: bold;
} 

.definition {
    background-color: #EFE;
    border-radius: 4pt;
    padding: 4pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
}


.theorem > p:first-child:before
{
    content:"Theorem. ";
    display: inline;
    font-weight: bold;
} 

.theorem {
    background-color: #DFD;
    border-radius: 4pt;
    padding: 4pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
}


.model-solution > p:first-child:before
{
    content:"Model Solution. ";
    display: inline;
    font-weight: bold;
} 

.model-solution {
    background-color: #FFB;
    border-radius: 4pt;
    padding: 4pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
}

.example > p:first-child:before
{
    content:"Example. ";
    display: inline;
    font-weight: bold;
} 

.example {
    background-color: #FFB;
    border-radius: 4pt;
    padding: 4pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
}

.observation > p:first-child:before
{
    content:"Observation. ";
    display: inline;
    font-weight: bold;
} 

.observation {
    background-color: #DDF;
    border-radius: 4pt;
    padding: 4pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
}

.warning > p:first-child:before
{
    content:"Warning. ";
    display: inline;
    font-weight: bold;
} 

.warning {
    background-color: #FDD;
    border-radius: 4pt;
    padding: 4pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
}

.question {
  margin-bottom: 16pt;
}

.solution {
  margin-top: 4pt;
  margin-bottom: 8pt;
}
